Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Ans: Keywords in Python are reserved words that can not be used as a variable name, function name, or any other identifier.

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Q.2. What are the rules to create variables in python?

Ans: - Rules for Python variables:

1- A variable name must start with a letter or the underscore character.

2- A variable name cannot start with a number.

3- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4- Variable names are case-sensitive (age, Age and AGE are three different variables)

Q.3. What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?

Ans: Use grammatically correct variable names, the class name should start with an uppercase and must follow camelCase convention, if more than two words are to be used. In the same way, a function name should be joined with an underscore, and it must be lowercase

Q.4. What will happen if a keyword is used as a variable name?

Ans: It will be tough for anyone to tell whether the code is a variable or a keyword

Q.5. For what purpose def keyword is used?

Ans: It is used to define a function

Q.6. What is the operation of this special character ‘\’?

Ans: It is a special character which is also known as 'escape' character. It is used in representing certain whitespace characters:

eg: 

"\t" is a tab

"\n" is for newline

"\r" is for carriage return

Q.7. Give an example of the following conditions:

(i) Homogeneous list

(ii) Heterogeneous set

(iii) Homogeneous tuple

The Python list can be either homogeneous or heterogeneous. Homogeneous means that it only contains a single type of data. 

A heterogeneous structure on the other hand, involves different file types being concatenated in the list or in a set.

In [3]:
#Example of HOMOGENEOUS LIST, 
# this list is homogenous list coz it contains elements of the same data type

my_list = [1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 6]

In [4]:
#Example of HETEROGENEOUS SET
# coz it contains unordered collection of unique elements
my_set = {1, 'apple', True, 3.14}
my_set

{1, 3.14, 'apple'}

In [5]:
# Example of HOMOGENEOUS TUPLE
# this list is homogenous list coz it contains elements of the same data type

my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Ans: In Python, data types can be classified as either mutable or immutable. 
This classification refers to whether the values of the data type can be changed after they are created.

In [6]:
#Exmaple of MUTABLE LIST

my_list = [1, 2, 3, 4, 5]

# Modifying the list in-place
my_list[2] = 10
print(my_list)  # Output: [1, 2, 10, 4, 5]

# Appending an element to the list
my_list.append(6)
print(my_list)  # Output: [1, 2, 10, 4, 5, 6]

# Removing an element from the list
my_list.remove(2)
print(my_list)  # Output: [1, 10, 4, 5, 6]

# Extending the list with another list
my_list.extend([7, 8, 9])
print(my_list)  # Output: [1, 10, 4, 5, 6, 7, 8, 9]

[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]
[1, 10, 4, 5, 6]
[1, 10, 4, 5, 6, 7, 8, 9]


An immutable data type, once created, cannot be modified. Instead, any operation that appears to modify an immutable object actually creates a new object with the modified value. Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [8]:
# EXMAPLE of TUPLE IMMUTABLE

my_tuple = (1, 2, 3, 4, 5)

# Trying to modify the tuple
my_tuple[2] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [9]:
# Trying to append an element to the tuple
my_tuple.append(6)  # This will raise an AttributeError

AttributeError: 'tuple' object has no attribute 'append'

In [10]:

# Trying to remove an element from the tuple
my_tuple.remove(2)  # This will raise an AttributeError

AttributeError: 'tuple' object has no attribute 'remove'

Q.9. Write a code to create the given structure using only for loop.
    *
   ***
  *****
 *******
*********

In [19]:
num_rows = 5

for i in range(num_rows):
    for j in range(num_rows - i - 1):
        print(" ", end="")
    for j in range(2 * i + 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

Q.10. Write a code to create the given structure using while loop.
|||||||||
 |||||||
  |||||
   |||
    |

In [22]:
num_rows = 5
num_spaces = 0

while num_rows > 0:
    count = 0
    while count < num_spaces:
        print(" ", end="")
        count += 1

    count = 0
    while count < num_rows:
        print("|", end="")
        count += 1

    print()
    num_rows -= 1
    num_spaces += 1

|||||
 ||||
  |||
   ||
    |

In [23]:
num_rows = 5

# Upside-down base
row_length = num_rows

while row_length > 0:
    count = 0
    while count < row_length:
        print("|", end="")
        count += 1
    print()
    row_length -= 1

# Cone sides
row_length = 2
num_spaces = 1

while row_length <= num_rows:
    count = 0
    while count < num_spaces:
        print(" ", end="")
        count += 1

    count = 0
    while count < row_length:
        print("|", end="")
        count += 1

    print()
    row_length += 1
    num_spaces += 1

|||||
||||
|||
||
|
 ||
  |||
   ||||
    |||||

In [24]:
num_rows = 5
row_length = num_rows

while row_length > 0:
    num_spaces = num_rows - row_length

    count = 0
    while count < num_spaces:
        print(" ", end="")
        count += 1

    count = 0
    while count < row_length:
        print("|", end="")
        count += 1

    print()
    row_length -= 1

|||||
 ||||
  |||
   ||
    |

In [25]:
# here is the final output as asked in the question, i tried all the way to get it proper


num_lines = 5
row_length = 9
num_spaces = 0

while num_lines > 0:
    count = 0
    while count < num_spaces:
        print(" ", end="")
        count += 1

    count = 0
    while count < row_length:
        print("|", end="")
        count += 1

    print()
    row_length -= 2
    num_spaces += 1
    num_lines -= 1

|||||||||
 |||||||
  |||||
   |||
    |